<aside class="sidebar">
  <nav class="sidebar-nav">
    <span class="sidebar-heading">
      <!-- the toggle is only visible on smaller screens -->
      <a href="#" class="sidebar-toggle">
        <%= title %>
      </a>

      <span class="sidebar-heading-text">
        <%= title %>
      </span>
    </span>

    <ul class="sidebar-list">
      <% links.each do |link| %>
        <% active = link[:active] || link_active?(link[:url]) %>

        <% if link[:links] %>
          <% link[:links].each do |li| %>
            <% active ||= li[:active] || link_active?(li[:url]) %>
          <% end %>

          <li class="sidebar-item <%= 'is-active' if active %>" data-collapsable>
            <%= link_to link[:title], '#', class: 'sidebar-toggle' %>

            <ul class="sidebar-list">
              <% link[:links].each do |li| %>
                <% li_active = li[:active] || link_active?(li[:url]) %>
                <li class="sidebar-item <%= 'is-active' if li_active %>">
                  <%= link_to li[:title], li[:url] %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li class="sidebar-item <%= 'is-active' if active %>">
            <%= link_to link[:title], link[:url] %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</aside>
