<aside class="sidebar">
  <nav class="sidebar-nav" data-collapsable>
    <span class="sidebar-heading">
      <!-- the toggle is only visible on smaller screens -->
      <a href="#" class="sidebar-toggle">
        <%= title %>
      </a>

      <span class="sidebar-heading-text">
        <%= title %>
      </span>
    </span>

    <ul class="sidebar-list">
      <% links.each do |link| %>
        <% link[:active] ||= link_active? link[:url] %>

        <% if link[:links] %>
          <% link[:links].each do |li| %>
            <% li[:active] ||= link_active? li[:url] %>
            <% link[:active] ||= li[:active] %>
          <% end %>

          <li class="sidebar-item <%= 'is-active' if link[:active] %>" data-collapsable>
            <a href="#" class="sidebar-toggle">
              <%= link[:title] %>
            </a>

            <ul class="sidebar-list">
              <% link[:links].each do |li| %>
                <li class="sidebar-item <%= 'is-active' if li[:active] %>">
                  <%= link_to li[:title], li[:url] %>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <li class="sidebar-item <%= 'is-active' if link[:active] %>">
            <%= link_to link[:title], link[:url] %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </nav>
</aside>
