<div class="<%= doc_classes doc %>">
  <h2 class="doc-title" id="/<%= doc.longname %>">
    <em>new</em> <%= doc.name %>
    <span class="doc-title-args">
      (<em><%= doc.params.map(&:name).join(', ') %></em>)
    </span>
  </h2>

  <div class="doc-content">
    <%= markdown doc.classdesc %>
  </div>

  <div class="tabbed-layout">
    <div class="tabbed-layout-nav">
      <button>Index</button>

      <% unless members.empty? %>
        <button>Properties</button>
      <% end %>

      <% unless methods.empty? %>
        <button>Methods</button>
      <% end %>
    </div>

    <section class="tabbed-layout-panel">
      <% unless members.empty? %>
        <h3 class="doc--members-list--heading">
          Properties
        </h3>

        <ul class="doc--members-list">
          <% members.each do |member| %>
            <li class="<%= 'doc--members-list--static' if member.scope == 'static' %>">
              <a href="<%= "/docs/#{name}/#/#{member.longname}" %>">
                <%= member.name %>
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% unless methods.empty? %>
        <h3 class="doc--members-list--heading">
          Methods
        </h3>

        <ul class="doc--members-list">
          <% methods.each do |func| %>
            <li class="<%= 'doc--members-list--static' if func.scope == 'static' %>">
              <a href="<%= "/docs/#{name}/#/#{func.longname}" %>">
                <%= func.name %>()
              </a>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>

    <% unless members.empty? %>
      <section class="tabbed-layout-panel">
        <% members.each do |member| %>
          <%= partial "partials/doc/member", locals: { doc: member } %>
        <% end %>
      </section>
    <% end %>

    <% unless methods.empty? %>
      <section class="tabbed-layout-panel">
        <% methods.each do |func| %>
          <%= partial "partials/doc/function", locals: { doc: func } %>
        <% end %>
      </section>
    <% end %>
  </div>
</div>
