<div class="<%= doc_classes doc %>">
  <% content_tag (doc.memberof ? :h3 : :h2), id: "/#{doc.longname}" do %>
    <span class="doc-name">
      <%= doc.name %>
    </span>

    <span class="doc-name-args">
      <% if doc.params.present? %>
        <em><%= doc.params.map{|p| p.name.split('.')[0] }.uniq.join(', ') %></em>
      <% end %>
    </span>

    <% if doc.returns.present? %>
      <span class="doc-name-return">
        <em><%= doc.returns.first.type.names.join('|') %></em>
      </span>
    <% end %>
  <% end %>

  <ul class="doc-args">
    <% if doc.params.present? %>
      <% doc.params.each do |param| %>
        <li>
          <em><%= param.name %></em>
          <code><%= param.type.names.map(&:capitalize).join('|') %></code>
          <%= inline_md param.description %>
        </li>
      <% end %>
    <% end %>

    <% if doc.returns.present? %>
      <li class="doc-return">
        <em><strong>returns</strong></em>
        <code><%= doc.returns.first.type.names.join('|') %></code>
        <%= inline_md doc.returns.first.description %>
      </li>
    <% end %>
  </ul>

  <div class="doc-content">
    <%= markdown doc.description %>
  </div>
</div>
