<div class="<%= doc_classes doc %>">
  <% content_tag (doc.memberof ? :h3 : :h2), id: "/#{doc.longname}" do %>
    <span class="doc-name">
      <%= doc.name %>
    </span>

    <% if doc.type.present? %>
      <span class="doc-name-return">
        <em><%= doc.type.names.join('|') %></em>
      </span>
    <% end %>
  <% end %>

  <% if doc.exceptions.present? && doc.exceptions.length > 0 %>
    <ul class="doc-args">
      <li class="doc-throws">
        <em><strong>throws</strong></em>
        <code><%= doc.exceptions.first.type.names.join('|') %></code>
        <%= inline_md doc.exceptions.first.description %>
      </li>
    </ul>
  <% end %>

  <div class="doc-content">
    <%= markdown doc.description %>
  </div>
</div>
