<h1><%= pkg.name %></h1>

<% docs.select {|d| d.kind == 'class'}.each do |classdoc| %>
  <div>
    <h2><%= classdoc.name %></h2>
    <%= markdown classdoc.classdesc %>

    <hr/>

    <% docs.select {|d| d.memberof == classdoc.name && d.access != 'private'}.each do |method| %>
      <div>
        <h3 id="<%= method.name %>">
          <%= method.longname %>
          <sub>
            (<em><%= method.params.map {|p| p.name}.join(', ') %></em>)
            <%= method.returns.first.type.names.join('|') %>
          </sub>
        </h3>

        <ul>
          <% method.params.each do |param| %>
            <li>
              <strong><%= param.name %></strong>
              <em><code><%= param.type.names.join('|') %></code></em>
              <%= markdown_inline param.description %>
            </li>
          <% end %>

          <li>
            <strong>returns</strong>
            <em><code><%= method.returns.first.type.names.join('|') %></code></em>
            <%= markdown_inline method.returns.first.description %>
          </li>
        </ul>

        <%= markdown method.description %>
      </div>

      <hr/>
    <% end %>
  </div>
<% end %>

<% docs.select {|d| d.kind == 'function' && !d.memberof}.each do |funcdoc| %>
  <div>
    <h2><%= funcdoc.name %></h2>
    <h3>
      <%= funcdoc.longname %>
      <sub>
        (<em><%= funcdoc.params.map {|p| p.name}.join(', ') %></em>)
        <%= markdown_inline funcdoc.returns.first.type.names.join('|') %>
      </sub>
    </h3>

    <ul>
      <% funcdoc.params.each do |param| %>
        <li>
          <strong><%= param.name %></strong>
          <em><code><%= param.type.names.join('|') %></code></em>
          <%= param.description %>
        </li>
      <% end %>

      <li>
        <strong>returns</strong>
        <em><code><%= funcdoc.returns.first.type.names.join('|') %></code></em>
        <%= markdown_inline funcdoc.returns.first.description %>
      </li>
    </ul>

    <%= markdown funcdoc.description %>
  </div>
<% end %>
