<section class="home-section home-hero">
  <h1 class="home-hero-logo">
    <%= image_tag 'logo.svg', alt: 'BigTest' %>
  </h1>

  <h2 class="home-hero-tagline">
    <%= no_widow(
      "A Suite of JavaScript libraries and framework extensions to help " +
      "you answer the question:",
    ) %>

    <em>
      <%= no_widow 'Does my application work in real life?' %>
    </em>
  </h2>

  <div class="home-hero-cta">
    <%= link_to 'Get Started', '/guides/getting-started/introduction', {
      class: 'btn btn--secondary'
    } %>

    <%= link_to 'Chat on Gitter', 'https://gitter.im/bigtestjs', {
      class: 'btn btn--primary btn--hollow'
    } %>
  </div>
</section>

<section class="home-section home-intro">
  <h2><%= no_widow data.home.intro %></h2>

  <ul class="home-intro-buckets">
    <% data.home.buckets.each do |bucket| %>
      <li>
        <h3><%= bucket.title %></h3>
        <p><%= inline_md bucket.content %></p>
      </li>
    <% end %>
  </ul>
</section>

<section class="home-section home-users">
  <h2>Who's Using BigTest?</h2>

  <ul class="home-users-list">
    <% data.home.users.each do |user| %>
      <li>
        <% link_to user.website, target: '_blank' do %>
          <%= image_tag user.logo, alt: user.name %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
